.delete {
  background-color: #EE6B9E;
}
.insert:nth-child(2n) {
  background-color: #63DB93;
}
.insert:nth-child(2n+1) {
  background-color: #80EA69;
}
.update {
  background-color: #66A1D2;
}
.find {
  background-color: #FFE973;
}
.rovo {
  width: 100vw;
  height: 4vh;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: stretch;
  align-items: center;
}
input {
  -webkit-appearance: none;
  background-color: none;
  outline: none;
  border: none;
  width: auto;
  font-size: 2.5vh;
}
body {
  margin: 0;
}
